body {
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
    
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #1b263b;
    text-align: center;
    padding: 10px 0;
}
  
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;

}
  
.navbar li {
    display: inline-block;
    margin: 0 20px;
}
  
.navbar a {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
}
  
.navbar a:hover {
    color: #00b4d8;
}

.uvod {
    height: 100vh;
    background-image: url('../img/jungle.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
  
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
}
  
.citat {
    text-align: center;
    font-style: italic;
    padding: 40px 20px;
    font-size: 1.3em;
}
  
.obsah {
    padding: 60px 10%;
}
  
.obsah h1, .obsah h2 {
    margin-top: 40px;
}
  
.blok {
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    text-align: left;
    background-color: #15491a;
    border: 2px solid #3a506b;
    color: #b4b4b4;
}
  

  
.blok2 {
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    text-align: right;
    background-color: #462d0c;
    border: 2px solid #6b3a3a;
    color: #bdbdbd;
}
  
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00b4d8;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
}
  
.btn:hover {
    background-color: #0077b6;
    cursor: pointer;
}
  
.galeria {
    text-align: center;
    padding: 60px 10%;
}
  
.fotky {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
  
.fotky img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
  
.kontakt {
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 60px 10%;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #e5e7eb;
    border-radius: 16px;
    background-color: #4a74c9;
}
  
button {
    background-color: #00b4d8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}
  
button:hover {
    background-color: #0077b6;
    cursor: pointer;
}
.author{
    color: #00b4d8;
}